<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Asset_Mng.Properties.Settings.ConnectionString" connectionString="Data Source=KIMIA-PC\SXPRESS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Asset_Mng.Properties.Settings.Asset_MngConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\Asset_Mng.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>